.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Filters {
    flex: 11;
}

.PlayPauseButton {
    flex: 1;
    text-align: end;
}

.AccessLogs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
}

.AccessLogsList {
    flex: 8;
}

.AccessLogDetails {
    flex: 4;
    margin-left: 10px;
}

.EmptyState {
    margin-top: 100px;
}
